# Production enviornment:
NODE_ENV=
PORT=

# Databse: (DB_URI Only Needed For PROD or DEV DB Testing):
DATABASE_URL=
LOCAL_POSTGRES_PASSWORD=

# JWT:
JWT_SECRET=your_super_secret_random_string_here

# Email Services:
COMPANY_USER=
COMPANY_PASS=
ADMIN_EMAIL=

